@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">App Cars Web</h1>
    <p>Gerencie sua lista de veículos com facilidade.</p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Car">Inicie agora mesmo!</a></p>
</div>
